<a href="/">Back</a>
<div class="col-md-12">
  <table class='table table-hover table-responsive table-bordered'>
   
{{!--     <body class="events-page">
    
      <div class="events-listing">
        <h1>Event details: </h1>
          <div class="event-info">
              <tr>
                <td>
                  <b>Title:</b>
                </td>
                <td>
                  {{event.title}}
                </td>
              </tr>

              <tr>
                <td>
                  <b>Type of music:</b>
                </td>
                <td>
                  {{event.musicType}}</td>
              </tr>

              <tr>
                <td>
                  <b>Description:</b>
                </td>
                <td>
                  {{event.description}}
                </td>
              </tr>
          </div>
   
          <div class="bar-info">
            <h2>Bar info</h2>
            <tr>
              <td>
                <b>Bar name:</b>
              </td>
              <td>
                {{bar.barname}}
              </td>
            </tr>
                    
            <tr>
              <td>
                <b>Type of music:</b>
              </td>
              <td>
                {{event.musicType}}</td>
            </tr>
                  
            <tr>
              <td>
                <b>Description:</b>
              </td>
              <td>
                {{event.description}}
              </td>
            </tr>
          </div>
      </div>
</body>
</table>
</div> --}}

  <thead class="thead-dark">
    <tr>
      <th colspan="4" scope="colgroup">Sizes available</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Jacob</td>
      <td>Thornton</td>
      <td>@fat</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Larry</td>
      <td>the Bird</td>
      <td>@twitter</td>
    </tr>
  </tbody>
</table>


<div class="lennie"></div>