<a href="/">Back</a>
<div class="col-md-12">
  <table class='table table-hover table-responsive table-bordered'>
   
{{!--     <body class="events-page">
    
      <div class="events-listing">
        <h1>Event details: </h1>
          <div class="event-info">
              <tr>
                <td>
                  <b>Title:</b>
                </td>
                <td>
                  {{event.title}}
                </td>
              </tr>

              <tr>
                <td>
                  <b>Type of music:</b>
                </td>
                <td>
                  {{event.musicType}}</td>
              </tr>

              <tr>
                <td>
                  <b>Description:</b>
                </td>
                <td>
                  {{event.description}}
                </td>
              </tr>
          </div>
   
          <div class="bar-info">
            <h2>Bar info</h2>
            <tr>
              <td>
                <b>Bar name:</b>
              </td>
              <td>
                {{bar.barname}}
              </td>
            </tr>
                    
            <tr>
              <td>
                <b>Type of music:</b>
              </td>
              <td>
                {{event.bar.musicType}}</td>
            </tr>
                  
            <tr>
              <td>
                <b>Description:</b>
              </td>
              <td>
                {{event.description}}
              </td>
            </tr>
          </div>
      </div>
</body>
</table>
</div> --}}

  <thead class="thead-dark">
    <tr>
      <th colspan="4" scope="colgroup">Event details</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">Title</th>
      <td>{{event.title}}</td>
    </tr>
    <tr>
      <th scope="row">Type of music</th>
      <td>{{event.musicType}}</td>
    </tr>
    <tr>
      <th scope="row">Description</th>
      <td>{{event.description}}</td>
    </tr>
  </tbody>
</table>

<table class='table table-hover table-responsive table-bordered'>
<thead class="thead-dark">
    <tr>
      <th colspan="4" scope="colgroup">Bar info</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">Bar name</th>
      <td>{{event.bar.barname}}</td>
    </tr>
    <tr>
      <th scope="row">Location</th>
      <td>{{event.bar.location.coordinates}}</td>
    </tr>
    <tr>
      <th scope="row">Phone</th>
      <td>{{event.bar.phone}}</td>
    </tr>
  </tbody>
</table>  

<div class="lennie"></div>