<body class="events-page">
  <h1> List of Events </h1>
  <div class="events-listing">
    <ul>
      {{#each events}} {{!-- key from event.js --}}

      <div class="each-event">
        <li>
          <p>
            <b>Title:</b> {{this.title}}</p>
          <p>
            <b>Type of music:</b> {{this.musicType}}</p>
          <p>
            <b>Description:</b> {{this.description}}</p>
          <a href="/event/event-details/{{this._id}}">See details</a>
        </li>
      </div>

      {{/each}}
    </ul>

    <div class="col-md-12">
      <h1>List of Events</h1>
      <table class='table table-hover table-responsive table-bordered'>
{{!-- 
        <thead class="thead-dark">
          <tr>
            <th colspan="4" scope="colgroup">List of Events</th>
          </tr>
        </thead> --}}
        <tbody>
          <ul>
            {{#each events}} {{!-- key from event.js --}}
          <thead><tr>            <th colspan="4" scope="colgroup">Event info:</th></tr></thead>
            <div class="each-event">
              <tr>
                <th scope="row">Title</th>
                <td>{{this.title}}</td>
              </tr>
              <tr>
                <th scope="row">Type of music</th>
                <td>{{this.musicType}}</td>
              </tr>
              <tr>
                <th scope="row">Description</th>
                <td>{{this.description}}</td>
              </tr>
              <tr>
                <th scope="row">
                  <a href="/event/event-details/{{this._id}}">See details</a>
                </th>
              </tr>

            </div>

            {{/each}}
          </ul>
        </tbody>
      </table>

    </div>
</body>

<div class="lennie"></div>