<div class="col-md-12">
  <table class='table table-hover table-responsive table-bordered'>


    <body class="events-page">
      <tr>
        <td>
          <div>
            <h1>Event details</h1>
          </div>
        </td>
      </tr>

      <h1> {{event.title}}</h1>
      <div class="events-listing">
        <ul>

          <tr>
            <td>
              <div class="each-event">
                <li>
                  <a href="/">Back</a>
                  <p>
                    <b>Title:</b> {{event.title}}</p>
                  <p>
                    <b>Type of music:</b> {{event.musicType}}</p>
                  <p>
                    <b>Description:</b> {{event.description}}</p>
                  {{!--
                  <form method="POST" action="/events/{{event._id}}/delete">
                    <button class="button">Delete</button>
                  </form> --}}

                </li>
              </div>
            </td>
          </tr>

        </ul>
      </div>

      <div>
        <h2>Bar info</h2>
      </div>
    </body>


  </table>
</div>